scripts/oxygen/frameworks/xliff/schemas/2.1/xliff_2_advanced_validation.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
     XLIFF Version 2.1
     Committee Specification Draft 01 / Public Review Draft 01
     14 October 2016
     Copyright (c) OASIS Open 2016. All Rights Reserved.
     Source: http://docs.oasis-open.org/xliff/xliff-core/v2.1/csprd01/schemas/
     Latest version of narrative specification: http://docs.oasis-open.org/xliff/xliff-core/v2.1/xliff-core-v2.1.html
     TC IPR Statement: https://www.oasis-open.org/committees/xliff/ipr.php
     
-->
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0" startMode="initial">
    <mode name="initial">
        <namespace ns="urn:oasis:names:tc:xliff:document:2.0">
            <validate schema="xliff_core_2.0.xsd" useMode="attach-all"/>
            <validate schema="fs.sch" useMode="attach-all"/>
            <validate schema="xliff_core_2.1.sch" useMode="attach-all"/>    
            <validate schema="matches.xsd" useMode="attach-all"/>
            <validate schema="resource_data.sch" useMode="attach-all"/>
        </namespace>
        <namespace ns="urn:oasis:names:tc:xliff:matches:2.0">
            <validate schema="matches.sch"/>
        </namespace>
        <namespace ns="urn:oasis:names:tc:xliff:metadata:2.0">
            <validate schema="metadata.xsd"/>
            <validate schema="metadata.sch"/>
        </namespace>
        <namespace ns="urn:oasis:names:tc:xliff:resourcedata:2.0">
            <validate schema="resource_data.xsd" useMode="attach-all"/>
            
        </namespace>
        <namespace ns="urn:oasis:names:tc:xliff:sizerestriction:2.0">
            <validate schema="size_restriction.xsd"/>
            <validate schema="size_restriction.sch"/>
        </namespace>
        <namespace ns="urn:oasis:names:tc:xliff:changetracking:2.1">
            <validate schema="change_tracking.xsd"/>
            <validate schema="change_tracking.sch"/>
        </namespace>
        <namespace ns="urn:oasis:names:tc:xliff:validation:2.0">
            <validate schema="validation.xsd"/>
            <validate schema="validation.sch"/>
        </namespace>
        <namespace ns="urn:oasis:names:tc:xliff:glossary:2.0">
            <validate schema="glossary.xsd"/>
            <validate schema="glossary.sch"/>
        </namespace>
        <namespace ns="urn:oasis:names:tc:xliff:itsm:2.1">
            <validate schema="itsm.xsd"/>
            <validate schema="itsm.sch"/>
        </namespace>
        <namespace ns="urn:oasis:names:tc:xliff:fs:2.0" match="attributes">
            <validate schema="fs.xsd"/>
        </namespace>
        <anyNamespace>
            <allow/>
        </anyNamespace>
    </mode> 
    
    
    
    <mode name="attach-all">
        <anyNamespace>
            <attach/>
        </anyNamespace>
    </mode>
    
</rules>