scripts/oxygen/frameworks/tei/xml/tei/schema/relaxng/core.rnc

namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace ns1 = "http://www.w3.org/1999/xhtml"
namespace rng = "http://relaxng.org/ns/structure/1.0"
namespace sch = "http://purl.oclc.org/dsdl/schematron"
namespace tei = "http://www.tei-c.org/ns/1.0"
namespace teix = "http://www.tei-c.org/ns/Examples"

# Schema generated 2021-08-31T10:24:16Z
# Edition: Version 4.3.0. Last updated on
#         31st August 2021, revision b4f72b1ff
# This material is dual-licensed.
# [http://creativecommons.org/licenses/by/3.0/] Distributed under a Creative Commons Attribution 3.0 Unported License.  [http://www.opensource.org/licenses/BSD-2-Clause] Copyright 2021 TEI Consortium. All rights reserved. Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage. TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the  TEI
#           Consortium . Elements common to all TEI documents

# Definitions from module core

# Set global predeclared macros

# Set predeclared macros

# 0. predeclared macros

# 1. classes
att.milestoneUnit.attributes = att.milestoneUnit.attribute.unit
att.milestoneUnit.attribute.unit =
  
  ## provides a conventional name for the kind of section changing at this milestone.
  ## Suggested values include: 1] page; 2] column; 3] line; 4] book; 5] poem; 6] canto; 7] speaker; 8] stanza; 9] act; 10] scene; 11] section; 12] absent; 13] unnumbered
  attribute unit {
    [
      a:documentation [
        "physical page breaks (synonymous with the "
        ns1:code [ "<pb>" ]
        " element)."
      ]
    ]
    "page"
    | 
      ## column breaks.
      "column"
    | [
        a:documentation [
          "line breaks (synonymous with the "
          ns1:code [ "<lb>" ]
          " element)."
        ]
      ]
      "line"
    | 
      ## any units termed book, liber, etc.
      "book"
    | 
      ## individual poems in a collection.
      "poem"
    | 
      ## cantos or other major sections of a poem.
      "canto"
    | 
      ## changes of speaker or narrator.
      "speaker"
    | 
      ## stanzas within a poem, book, or canto.
      "stanza"
    | 
      ## acts within a play.
      "act"
    | 
      ## scenes within a play or act.
      "scene"
    | 
      ## sections of any kind.
      "section"
    | 
      ## passages not present in the reference edition.
      "absent"
    | 
      ## passages present in the text, but not to be included as part of the reference.
      "unnumbered"
    | xsd:token { pattern = "[^\p{C}\p{Z}]+" }
  }
# 2. elements
abbr =
  
  ## (abbreviation) contains an abbreviation of any sort. []
  element abbr { abbr.content, abbr.localattributes }
abbr.content = macro.phraseSeq
abbr.localattributes =
  att.global.attributes,
  att.typed.attribute.subtype,
  
  ## (type) allows the encoder to classify the abbreviation according to some convenient typology.
  ## Sample values include: 1] suspension (suspension); 2] contraction (contraction); 3] brevigraph; 4] superscription (superscription); 5] acronym (acronym); 6] title (title); 7] organization (organization); 8] geographic (geographic)
  attribute type {
    xsd:token { pattern = "[^\p{C}\p{Z}]+" }
  }?,
  empty
add =
  
  ## (addition) contains letters, words, or phrases inserted in the source text by an author, scribe, or a previous annotator or corrector. []
  element add { add.content, add.localattributes }
add.content = macro.paraContent
add.localattributes =
  att.global.attributes,
  att.transcriptional.attributes,
  att.placement.attributes,
  att.typed.attributes,
  att.dimensions.attributes,
  empty
addrLine =
  
  ## (address line) contains one line of a postal address. [  ]
  element addrLine { addrLine.content, addrLine.localattributes }
addrLine.content = macro.phraseSeq
addrLine.localattributes = att.global.attributes, empty
address =
  
  ## (address) contains a postal address, for example of a publisher, an organization, or an individual. [  ]
  element address { address.content, address.localattributes }
address.content = model.global*, (model.addrPart, model.global*)+
address.localattributes = att.global.attributes, empty
analytic =
  
  ## (analytic level) contains bibliographic elements describing an item (e.g. an article or poem) published within a monograph or journal and not as an independent publication. []
  element analytic { analytic.content, analytic.localattributes }
analytic.content =
  (author
   | editor
   | respStmt
   | title
   | model.ptrLike
   | date
   | textLang
   | idno
   | availability)*
analytic.localattributes = att.global.attributes, empty
author =
  
  ## (author) in a bibliographic reference, contains the name(s) of an author, personal or corporate, of a work; for example in the same form as that provided by a recognized bibliographic name authority. [ ]
  element author { author.content, author.localattributes }
author.content = macro.phraseSeq
author.localattributes =
  att.global.attributes,
  att.naming.attributes,
  att.datable.attributes,
  empty
bibl =
  
  ## (bibliographic citation) contains a loosely-structured bibliographic citation of which the sub-components may or may not be explicitly tagged. [  ]
  element bibl { bibl.content, bibl.localattributes }
bibl.content =
  (text
   | model.gLike
   | model.highlighted
   | model.pPart.data
   | model.pPart.edit
   | model.segLike
   | model.ptrLike
   | model.biblPart
   | model.global)*
bibl.localattributes =
  att.global.attributes,
  att.declarable.attributes,
  att.typed.attributes,
  att.sortable.attributes,
  att.docStatus.attributes,
  empty
biblScope =
  
  ## (scope of bibliographic reference) defines the scope of a bibliographic reference, for example as a list of page numbers, or a named subdivision of a larger work. []
  element biblScope { biblScope.content, biblScope.localattributes }
biblScope.content = macro.phraseSeq
biblScope.localattributes =
  att.global.attributes, att.citing.attributes, empty
biblStruct =
  
  ## (structured bibliographic citation) contains a structured bibliographic citation, in which only bibliographic sub-elements appear and in a specified order. [  ]
  element biblStruct { biblStruct.content, biblStruct.localattributes }
biblStruct.content =
  analytic*,
  (monogr, series*)+,
  (model.noteLike | model.ptrLike | relatedItem | citedRange)*
biblStruct.localattributes =
  att.global.attributes,
  att.declarable.attributes,
  att.typed.attributes,
  att.sortable.attributes,
  att.docStatus.attributes,
  empty
binaryObject =
  
  ## provides encoded binary data representing an inline graphic, audio, video or other object. []
  element binaryObject {
    binaryObject.content, binaryObject.localattributes
  }
binaryObject.content = text
binaryObject.localattributes =
  att.global.attributes,
  att.media.attributes,
  att.timed.attributes,
  att.typed.attributes,
  [
    a:documentation [
      "The encoding used to encode the binary data. If not specified, this is assumed to be "
      ns1:a [ href = "http://en.wikipedia.org/wiki/Base64" "Base64" ]
      "."
    ]
  ]
  attribute encoding {
    list {
      xsd:token { pattern = "[^\p{C}\p{Z}]+" }+
    }
  }?,
  empty
cb =
  
  ## (column beginning) marks the beginning of a new column of a text on a multi-column page. []
  element cb { cb.content, cb.localattributes }
cb.content = empty
cb.localattributes =
  att.global.attributes,
  att.typed.attributes,
  att.edition.attributes,
  att.spanning.attributes,
  att.breaking.attributes,
  empty
choice =
  
  ## (choice) groups a number of alternative encodings for the same point in a text. []
  element choice { choice.content, choice.localattributes }
choice.content = (model.choicePart | choice)+
choice.localattributes = att.global.attributes, empty
cit =
  
  ## (cited quotation) contains a quotation from some other document, together with a bibliographic reference to its source. In a dictionary it may contain an example text with at least one occurrence of the word form, used in the sense being described, or a translation of the headword, or an example. [  ]
  element cit { cit.content, cit.localattributes }
cit.content =
  (model.biblLike
   | model.egLike
   | model.entryPart
   | model.global
   | model.graphicLike
   | model.ptrLike
   | model.attributable
   | pc
   | q)+
cit.localattributes = att.global.attributes, att.typed.attributes, empty
citedRange =
  
  ## (cited range) defines the range of cited content, often represented by pages or other units []
  element citedRange { citedRange.content, citedRange.localattributes }
citedRange.content = macro.phraseSeq
citedRange.localattributes =
  att.global.attributes,
  att.pointing.attributes,
  att.citing.attributes,
  empty
corr =
  
  ## (correction) contains the correct form of a passage apparently erroneous in the copy text. []
  element corr { corr.content, corr.localattributes }
corr.content = macro.paraContent
corr.localattributes =
  att.global.attributes,
  att.editLike.attributes,
  att.typed.attributes,
  empty
date =
  
  ## (date) contains a date in any format. [     ]
  element date { date.content, date.localattributes }
date.content = (text | model.gLike | model.phrase | model.global)*
date.localattributes =
  att.global.attributes,
  att.canonical.attributes,
  att.datable.attributes,
  att.duration.attributes,
  att.editLike.attributes,
  att.dimensions.attributes,
  att.typed.attributes,
  empty
del =
  
  ## (deletion) contains a letter, word, or passage deleted, marked as deleted, or otherwise indicated as superfluous or spurious in the copy text by an author, scribe, or a previous annotator or corrector. []
  element del { del.content, del.localattributes }
del.content = macro.paraContent
del.localattributes =
  att.global.attributes,
  att.transcriptional.attributes,
  att.typed.attributes,
  att.dimensions.attributes,
  empty
desc =
  
  ## (description) contains a short description of the purpose, function, or use of its parent element, or when the parent is a documentation element, describes or defines the object being documented.  []
  element desc { desc.content, desc.localattributes }
desc.content =
  macro.limitedContent
  >> sch:pattern [
       id = "desc-deprecationInfo-only-in-deprecated-constraint-rule-13"
       "\x{a}" ~
       "         "
       sch:rule [
         context = "tei:desc[ @type eq 'deprecationInfo']"
         "\x{a}" ~
         "            "
         sch:assert [
           test = "../@validUntil"
           "Information about a\x{a}" ~
           "        deprecation should only be present in a specification element\x{a}" ~
           "        that is being deprecated: that is, only an element that has a\x{a}" ~
           "        @validUntil attribute should have a child <desc\x{a}" ~
           '        type="deprecationInfo">.'
         ]
         "\x{a}" ~
         "         "
       ]
       "\x{a}" ~
       "      "
     ]
desc.localattributes =
  att.global.attributes,
  att.translatable.attributes,
  att.typed.attribute.subtype,
  
  ## characterizes the element in some sense, using any convenient classification scheme or typology.
  ## Suggested values include: 1] deprecationInfo (deprecation information)
  attribute type {
    
    ## (deprecation
    ##           information) This element describes why or how its parent element is being deprecated, typically including recommendations for alternate encoding.
    "deprecationInfo"
    | xsd:token { pattern = "[^\p{C}\p{Z}]+" }
  }?,
  empty
distinct =
  
  ## identifies any word or phrase which is regarded as linguistically distinct, for example as archaic, technical, dialectal, non-preferred, etc., or as forming part of a sublanguage. []
  element distinct { distinct.content, distinct.localattributes }
distinct.content = macro.phraseSeq
distinct.localattributes =
  att.global.attributes,
  att.typed.attribute.subtype,
  
  ## specifies the sublanguage or register to which the word or phrase is being assigned
  attribute type {
    xsd:token { pattern = "[^\p{C}\p{Z}]+" }
  }?,
  
  ## specifies how the phrase is distinct diachronically
  attribute time { xsd:string }?,
  
  ## specifies how the phrase is distinct diatopically
  attribute space { xsd:string }?,
  
  ## specifies how the phrase is distinct diastratically
  attribute social { xsd:string }?,
  empty
divGen =
  
  ## (automatically generated text division) indicates the location at which a textual division generated automatically by a text-processing application is to appear. []
  element divGen { divGen.content, divGen.localattributes }
divGen.content = model.headLike*
divGen.localattributes =
  att.global.attributes,
  att.typed.attribute.subtype,
  
  ## specifies what type of generated text division (e.g. index, table of contents, etc.) is to appear.
  ## Sample values include: 1] index; 2] toc; 3] figlist; 4] tablist
  attribute type {
    xsd:token { pattern = "[^\p{C}\p{Z}]+" }
  }?,
  empty
editor =
  
  ## contains a secondary statement of responsibility for a bibliographic item, for example the name of an individual, institution or organization, (or of several such) acting as editor, compiler, translator, etc. []
  element editor { editor.content, editor.localattributes }
editor.content = macro.phraseSeq
editor.localattributes =
  att.global.attributes,
  att.naming.attributes,
  att.datable.attributes,
  empty
ellipsis =
  
  ## (deliberately marked omission) indicates a purposeful marking in the source document signalling that content has been omitted, and may also supply or describe the omitted content. []
  element ellipsis { ellipsis.content, ellipsis.localattributes }
ellipsis.content = metamark, model.descLike?, supplied?
ellipsis.localattributes =
  att.global.attributes,
  att.dimensions.attributes,
  att.timed.attributes,
  empty
email =
  
  ## (electronic mail address) contains an email address identifying a location to which email messages can be delivered. []
  element email { email.content, email.localattributes }
email.content = macro.phraseSeq
email.localattributes = att.global.attributes, empty
emph =
  
  ## (emphasized) marks words or phrases which are stressed or emphasized for linguistic or rhetorical effect. [ ]
  element emph { emph.content, emph.localattributes }
emph.content = macro.paraContent
emph.localattributes = att.global.attributes, empty
expan =
  
  ## (expansion) contains the expansion of an abbreviation. []
  element expan { expan.content, expan.localattributes }
expan.content = macro.phraseSeq
expan.localattributes =
  att.global.attributes, att.editLike.attributes, empty
foreign =
  
  ## (foreign) identifies a word or phrase as belonging to some language other than that of the surrounding text. []
  element foreign { foreign.content, foreign.localattributes }
foreign.content = macro.phraseSeq
foreign.localattributes = att.global.attributes, empty
gap =
  
  ## (gap) indicates a point where material has been omitted in a transcription, whether for editorial reasons described in the TEI header, as part of sampling practice, or because the material is illegible, invisible, or inaudible. []
  element gap { gap.content, gap.localattributes }
gap.content = (model.descLike | model.certLike)*
gap.localattributes =
  att.global.attributes,
  att.timed.attributes,
  att.editLike.attributes,
  att.dimensions.attributes,
  
  ## (reason) gives the reason for omission
  ## Suggested values include: 1] cancelled (cancelled); 2] deleted (deleted); 3] editorial (editorial); 4] illegible (illegible); 5] inaudible (inaudible); 6] irrelevant (irrelevant); 7] sampling (sampling)
  attribute reason {
    list {
      (
       ## (cancelled) 
       "cancelled"
       | 
         ## (deleted) 
         "deleted"
       | 
         ## (editorial) for features omitted from transcription due to editorial policy
         "editorial"
       | 
         ## (illegible) 
         "illegible"
       | 
         ## (inaudible) 
         "inaudible"
       | 
         ## (irrelevant) 
         "irrelevant"
       | 
         ## (sampling) 
         "sampling"
       | xsd:token { pattern = "[^\p{C}\p{Z}]+" })+
    }
  }?,
  
  ## (agent) in the case of text omitted because of damage, categorizes the cause of the damage, if it can be identified.
  ## Sample values include: 1] rubbing (rubbing); 2] mildew (mildew); 3] smoke (smoke)
  attribute agent {
    xsd:token { pattern = "[^\p{C}\p{Z}]+" }
  }?,
  empty
gb =
  
  ## (gathering beginning) marks the beginning of a new gathering or quire in a transcribed codex. []
  element gb { gb.content, gb.localattributes }
gb.content = empty
gb.localattributes =
  att.global.attributes,
  att.typed.attributes,
  att.spanning.attributes,
  att.breaking.attributes,
  att.edition.attributes,
  empty
gloss =
  
  ## (gloss) identifies a phrase or word used to provide a gloss or definition for some other word or phrase. [ ]
  element gloss { gloss.content, gloss.localattributes }
gloss.content = macro.phraseSeq
gloss.localattributes =
  att.global.attributes,
  att.declaring.attributes,
  att.translatable.attributes,
  att.typed.attributes,
  att.pointing.attributes,
  att.cReferencing.attributes,
  empty
graphic =
  
  ## (graphic) indicates the location of a graphic or illustration, either forming part of a text, or providing an image of it. [ ]
  element graphic { graphic.content, graphic.localattributes }
graphic.content = model.descLike*
graphic.localattributes =
  att.global.attributes,
  att.media.attributes,
  att.resourced.attributes,
  att.declaring.attributes,
  empty
head =
  
  ## (heading) contains any type of heading, for example the title of a section, or the heading of a list, glossary, manuscript description, etc. []
  element head { head.content, head.localattributes }
head.content =
  (text
   | lg
   | model.gLike
   | model.phrase
   | model.inter
   | model.lLike
   | model.global)*
head.localattributes =
  att.global.attributes,
  att.typed.attributes,
  att.placement.attributes,
  att.written.attributes,
  empty
headItem =
  
  ## (heading for list items) contains the heading for the item or gloss column in a glossary list or similar structured list. []
  element headItem { headItem.content, headItem.localattributes }
headItem.content = macro.phraseSeq
headItem.localattributes = att.global.attributes, empty
headLabel =
  
  ## (heading for list labels) contains the heading for the label or term column in a glossary list or similar structured list. []
  element headLabel { headLabel.content, headLabel.localattributes }
headLabel.content = macro.phraseSeq
headLabel.localattributes = att.global.attributes, empty
hi =
  
  ## (highlighted) marks a word or phrase as graphically distinct from the surrounding text, for reasons concerning which no claim is made. [ ]
  element hi { hi.content, hi.localattributes }
hi.content = macro.paraContent
hi.localattributes =
  att.global.attributes, att.written.attributes, empty
imprint =
  
  ## groups information relating to the publication or distribution of a bibliographic item. []
  element imprint { imprint.content, imprint.localattributes }
imprint.content =
  (classCode | catRef)*,
  ((model.imprintPart | model.dateLike), respStmt*, model.global*)+
imprint.localattributes = att.global.attributes, empty
index =
  
  ## (index entry) marks a location to be indexed for whatever purpose. []
  element index { index.content, index.localattributes }
index.content = (term, index?)*
index.localattributes =
  att.global.attributes,
  att.spanning.attributes,
  
  ## a single word which follows the rules defining a legal XML name (see ), supplying a name to specify which index (of several) the index entry belongs to.
  attribute indexName { xsd:Name }?,
  empty
item =
  
  ## (item) contains one component of a list. [ ]
  element item { item.content, item.localattributes }
item.content = macro.specialPara
item.localattributes =
  att.global.attributes, att.sortable.attributes, empty
l =
  
  ## (verse line) contains a single, possibly incomplete, line of verse. [  ]
  element l { l.content, l.localattributes }
l.content =
  ((text | model.gLike | model.phrase | model.inter | model.global)*)
  >> sch:pattern [
       id = "l-abstractModel-structure-l-constraint-report-12"
       "\x{a}" ~
       "         "
       sch:rule [
         context = "tei:l"
         "\x{a}" ~
         "            "
         sch:report [
           test =
             "ancestor::tei:l[not(.//tei:note//tei:l[. = current()])]"
           "\x{a}" ~
           "        Abstract model violation: Lines may not contain lines or lg elements.\x{a}" ~
           "      "
         ]
         "\x{a}" ~
         "         "
       ]
       "\x{a}" ~
       "      "
     ]
l.localattributes =
  att.global.attributes,
  att.metrical.attributes,
  att.enjamb.attributes,
  att.fragmentable.attributes,
  empty
label =
  
  ## (label) contains any label or heading used to identify part of a text, typically but not exclusively in a list or glossary. []
  element label { label.content, label.localattributes }
label.content = macro.phraseSeq
label.localattributes =
  att.global.attributes,
  att.typed.attributes,
  att.placement.attributes,
  att.written.attributes,
  empty
lb =
  
  ## (line beginning) marks the beginning of a new (typographic) line in some edition or version of a text. [ ]
  element lb { lb.content, lb.localattributes }
lb.content = empty
lb.localattributes =
  att.global.attributes,
  att.typed.attributes,
  att.edition.attributes,
  att.spanning.attributes,
  att.breaking.attributes,
  empty
lg =
  
  ## (line group) contains one or more verse lines functioning as a formal unit, e.g. a stanza, refrain, verse paragraph, etc. [  ]
  element lg { lg.content, lg.localattributes }
lg.content =
  ((model.divTop | model.global)*,
   (model.lLike | model.stageLike | model.labelLike | lg),
   (model.lLike
    | model.stageLike
    | model.labelLike
    | model.global
    | lg)*,
   (model.divBottom, model.global*)*)
  >> sch:pattern [
       id = "lg-atleast1oflggapl-constraint-assert-14"
       "\x{a}" ~
       "         "
       sch:rule [
         context = "tei:lg"
         "\x{a}" ~
         "            "
         sch:assert [
           test =
             "count(descendant::tei:lg|descendant::tei:l|descendant::tei:gap) > 0"
           "An lg element\x{a}" ~
           "        must contain at least one child l, lg, or gap element."
         ]
         "\x{a}" ~
         "         "
       ]
       "\x{a}" ~
       "      "
     ]
  >> sch:pattern [
       id = "lg-abstractModel-structure-l-constraint-report-13"
       "\x{a}" ~
       "         "
       sch:rule [
         context = "tei:lg"
         "\x{a}" ~
         "            "
         sch:report [
           test =
             "ancestor::tei:l[not(.//tei:note//tei:lg[. = current()])]"
           "\x{a}" ~
           "        Abstract model violation: Lines may not contain line groups.\x{a}" ~
           "      "
         ]
         "\x{a}" ~
         "         "
       ]
       "\x{a}" ~
       "      "
     ]
lg.localattributes =
  att.global.attributes,
  att.divLike.attributes,
  att.typed.attributes,
  att.declaring.attributes,
  empty
\list =
  
  ## (list) contains any sequence of items organized as a list. []
  element list { list.content, list.localattributes }
list.content =
  ((model.divTop | model.global | desc*)*,
   ((item, model.global*)+
    | (headLabel?,
       headItem?,
       (label, model.global*, item, model.global*)+)),
   (model.divBottom, model.global*)*)
  >> sch:pattern [
       id = "list-gloss-list-must-have-labels-constraint-rule-14"
       "\x{a}" ~
       "         "
       sch:rule [
         context = "tei:list[@type='gloss']"
         "\x{a}" ~
         "            "
         sch:assert [
           test = "tei:label"
           'The content of a "gloss" list should include a sequence of one or more pairs of a label element followed by an item element'
         ]
         "\x{a}" ~
         "         "
       ]
       "\x{a}" ~
       "      "
     ]
list.localattributes =
  att.global.attributes,
  att.sortable.attributes,
  att.typed.attribute.subtype,
  
  ## (type) describes the nature of the items in the list.
  ## Suggested values include: 1] gloss (gloss); 2] index (index); 3] instructions (instructions); 4] litany (litany); 5] syllogism (syllogism)
  attribute type {
    [
      a:documentation [
        "(gloss) each list item glosses some term or concept, which is given by a "
        ns1:code [ "<label>" ]
        " element preceding the list item."
      ]
    ]
    "gloss"
    | 
      ## (index) each list item is an entry in an index such as the alphabetical topical index at the back of a print volume.
      "index"
    | 
      ## (instructions) each list item is a step in a sequence of instructions, as in a recipe.
      "instructions"
    | 
      ## (litany) each list item is one of a sequence of petitions, supplications or invocations, typically in a religious ritual.
      "litany"
    | 
      ## (syllogism) each list item is part of an argument consisting of two or more propositions and a final conclusion derived from them.
      "syllogism"
    | xsd:token { pattern = "[^\p{C}\p{Z}]+" }
  }?,
  empty
listBibl =
  
  ## (citation list) contains a list of bibliographic citations of any kind. [  ]
  element listBibl { listBibl.content, listBibl.localattributes }
listBibl.content =
  model.headLike*,
  desc*,
  (model.milestoneLike | relation | listRelation)*,
  (model.biblLike+, (model.milestoneLike | relation | listRelation)*)+
listBibl.localattributes =
  att.global.attributes,
  att.sortable.attributes,
  att.declarable.attributes,
  att.typed.attributes,
  empty
measure =
  
  ## (measure) contains a word or phrase referring to some quantity of an object or commodity, usually comprising a number, a unit, and a commodity name. []
  element measure { measure.content, measure.localattributes }
measure.content = macro.phraseSeq
measure.localattributes =
  att.global.attributes,
  att.measurement.attributes,
  att.typed.attribute.subtype,
  
  ## specifies the type of measurement in any convenient typology.
  attribute type {
    xsd:token { pattern = "[^\p{C}\p{Z}]+" }
  }?,
  empty
measureGrp =
  
  ## (measure group) contains a group of dimensional specifications which relate to the same object, for example the height and width of a manuscript page. []
  element measureGrp { measureGrp.content, measureGrp.localattributes }
measureGrp.content = (text | model.gLike | model.measureLike)*
measureGrp.localattributes =
  att.global.attributes,
  att.measurement.attributes,
  att.typed.attributes,
  empty
media =
  
  ## indicates the location of any form of external media such as an audio or video clip etc. []
  element media { media.content, media.localattributes }
media.content = model.descLike*
media.localattributes =
  att.typed.attributes,
  att.global.attributes,
  att.resourced.attributes,
  att.declaring.attributes,
  att.timed.attributes,
  att.media.attribute.width,
  att.media.attribute.height,
  att.media.attribute.scale,
  
  ## (MIME media type) specifies the applicable multimedia internet mail extension (MIME) media type
  attribute mimeType {
    list {
      xsd:token { pattern = "[^\p{C}\p{Z}]+" }+
    }
  },
  empty
meeting =
  
  ## contains the formalized descriptive title for a meeting or conference, for use in a bibliographic description for an item derived from such a meeting, or as a heading or preamble to publications emanating from it. []
  element meeting { meeting.content, meeting.localattributes }
meeting.content = macro.limitedContent
meeting.localattributes =
  att.global.attributes,
  att.datable.attributes,
  att.canonical.attributes,
  empty
mentioned =
  
  ## marks words or phrases mentioned, not used. []
  element mentioned { mentioned.content, mentioned.localattributes }
mentioned.content = macro.phraseSeq
mentioned.localattributes = att.global.attributes, empty
milestone =
  
  ## (milestone) marks a boundary point separating any kind of section of a text, typically but not necessarily indicating a point at which some part of a standard reference system changes, where the change is not represented by a structural element. []
  element milestone { milestone.content, milestone.localattributes }
milestone.content = empty
milestone.localattributes =
  att.global.attributes,
  att.milestoneUnit.attributes,
  att.typed.attributes,
  att.edition.attributes,
  att.spanning.attributes,
  att.breaking.attributes,
  empty
monogr =
  
  ## (monographic level) contains bibliographic elements describing an item (e.g. a book or journal) published as an independent item (i.e. as a separate physical object). []
  element monogr { monogr.content, monogr.localattributes }
monogr.content =
  (((author | editor | meeting | respStmt),
    (author | editor | meeting | respStmt)*,
    title+,
    (model.ptrLike | idno | textLang | editor | respStmt)*)
   | ((title | model.ptrLike | idno)+,
      (textLang | author | editor | meeting | respStmt)*)
   | (authority, idno))?,
  availability*,
  model.noteLike*,
  (edition,
   (idno | model.ptrLike | editor | sponsor | funder | respStmt)*)*,
  imprint,
  (imprint | extent | biblScope)*
monogr.localattributes = att.global.attributes, empty
name =
  
  ## (name, proper noun) contains a proper noun or noun phrase. []
  element name { name.content, name.localattributes }
name.content = macro.phraseSeq
name.localattributes =
  att.global.attributes,
  att.personal.attributes,
  att.datable.attributes,
  att.editLike.attributes,
  att.typed.attributes,
  empty
note =
  
  ## (note) contains a note or annotation. [   ]
  element note { note.content, note.localattributes }
note.content = macro.specialPara
note.localattributes =
  att.global.attributes,
  att.placement.attributes,
  att.pointing.attributes,
  att.typed.attributes,
  att.written.attributes,
  att.anchoring.attributes,
  empty
noteGrp =
  
  ## contains a group of notes []
  element noteGrp { noteGrp.content, noteGrp.localattributes }
noteGrp.content = desc*, (note | noteGrp)+
noteGrp.localattributes =
  att.global.attributes,
  att.placement.attributes,
  att.pointing.attributes,
  att.typed.attributes,
  att.written.attributes,
  att.anchoring.attributes,
  empty
num =
  
  ## (number) contains a number, written in any form. []
  element num { num.content, num.localattributes }
num.content = macro.phraseSeq
num.localattributes =
  att.global.attributes,
  att.ranging.attributes,
  att.typed.attribute.subtype,
  
  ## indicates the type of numeric value.
  ## Suggested values include: 1] cardinal; 2] ordinal; 3] fraction; 4] percentage
  attribute type {
    
    ## absolute number, e.g. 21, 21.5
    "cardinal"
    | 
      ## ordinal number, e.g. 21st
      "ordinal"
    | 
      ## fraction, e.g. one half or three-quarters
      "fraction"
    | 
      ## a percentage
      "percentage"
    | xsd:token { pattern = "[^\p{C}\p{Z}]+" }
  }?,
  
  ## supplies the value of the number in standard form.
  attribute value {
    xsd:double
    | xsd:token { pattern = "(\-?[\d]+/\-?[\d]+)" }
    | xsd:decimal
  }?,
  empty
orig =
  
  ## (original form) contains a reading which is marked as following the original, rather than being normalized or corrected. [ ]
  element orig { orig.content, orig.localattributes }
orig.content = macro.paraContent
orig.localattributes = att.global.attributes, empty
p =
  
  ## (paragraph) marks paragraphs in prose. [ ]
  element p { p.content, p.localattributes }
p.content =
  macro.paraContent
  >> sch:pattern [
       id = "p-abstractModel-structure-p-constraint-report-6"
       "\x{a}" ~
       "         "
       sch:rule [
         context = "tei:p"
         "\x{a}" ~
         "            "
         sch:report [
           test =
             "not(ancestor::tei:floatingText) and (ancestor::tei:p or ancestor::tei:ab)          and not(parent::tei:exemplum                |parent::tei:item                |parent::tei:note                |parent::tei:q                |parent::tei:quote                |parent::tei:remarks                |parent::tei:said                |parent::tei:sp                |parent::tei:stage                |parent::tei:cell                |parent::tei:figure                )"
           "\x{a}" ~
           "        Abstract model violation: Paragraphs may not occur inside other paragraphs or ab elements.\x{a}" ~
           "      "
         ]
         "\x{a}" ~
         "         "
       ]
       "\x{a}" ~
       "      "
     ]
  >> sch:pattern [
       id = "p-abstractModel-structure-l-constraint-report-7"
       "\x{a}" ~
       "         "
       sch:rule [
         context = "tei:p"
         "\x{a}" ~
         "            "
         sch:report [
           test =
             "(ancestor::tei:l or ancestor::tei:lg) and not(parent::tei:figure or parent::tei:note or ancestor::tei:floatingText)"
           "\x{a}" ~
           "        Abstract model violation: Lines may not contain higher-level structural elements such as div, p, or ab, unless p is a child of figure or note, or is a descendant of floatingText.\x{a}" ~
           "      "
         ]
         "\x{a}" ~
         "         "
       ]
       "\x{a}" ~
       "      "
     ]
p.localattributes =
  att.global.attributes,
  att.declaring.attributes,
  att.fragmentable.attributes,
  att.written.attributes,
  empty
pb =
  
  ## (page beginning) marks the beginning of a new page in a paginated document. []
  element pb { pb.content, pb.localattributes }
pb.content = empty
pb.localattributes =
  att.global.attributes,
  att.typed.attributes,
  att.edition.attributes,
  att.spanning.attributes,
  att.breaking.attributes,
  empty
postBox =
  
  ## (postal box or post office box) contains a number or other identifier for some postal delivery point other than a street address. []
  element postBox { postBox.content, postBox.localattributes }
postBox.content = text
postBox.localattributes = att.global.attributes, empty
postCode =
  
  ## (postal code) contains a numerical or alphanumeric code used as part of a postal address to simplify sorting or delivery of mail. []
  element postCode { postCode.content, postCode.localattributes }
postCode.content = text
postCode.localattributes = att.global.attributes, empty
ptr =
  
  ## (pointer) defines a pointer to another location. [ ]
  element ptr { ptr.content, ptr.localattributes }
ptr.content =
  empty
  >> sch:pattern [
       id = "ptr-ptrAtts-constraint-report-9"
       "\x{a}" ~
       "         "
       sch:rule [
         context = "tei:ptr"
         "\x{a}" ~
         "            "
         sch:report [
           test = "@target and @cRef"
           "Only one of the\x{a}" ~
           "attributes @target and @cRef may be supplied on "
           sch:name [ ]
           "."
         ]
         "\x{a}" ~
         "         "
       ]
       "\x{a}" ~
       "      "
     ]
ptr.localattributes =
  att.cReferencing.attributes,
  att.declaring.attributes,
  att.global.attributes,
  att.internetMedia.attributes,
  att.pointing.attributes,
  att.typed.attributes,
  empty
pubPlace =
  
  ## (publication place) contains the name of the place where a bibliographic item was published. []
  element pubPlace { pubPlace.content, pubPlace.localattributes }
pubPlace.content = macro.phraseSeq
pubPlace.localattributes =
  att.global.attributes, att.naming.attributes, empty
publisher =
  
  ## (publisher) provides the name of the organization responsible for the publication or distribution of a bibliographic item. [ ]
  element publisher { publisher.content, publisher.localattributes }
publisher.content = macro.phraseSeq
publisher.localattributes =
  att.global.attributes, att.canonical.attributes, empty
q =
  
  ## (quoted) contains material which is distinguished from the surrounding text using quotation marks or a similar method, for any one of a variety of reasons including, but not limited to: direct speech or thought, technical terms or jargon, authorial distance, quotations from elsewhere, and passages that are mentioned but not used. []
  element q { q.content, q.localattributes }
q.content = macro.specialPara
q.localattributes =
  att.global.attributes,
  att.ascribed.directed.attributes,
  
  ## (type) may be used to indicate whether the offset passage is spoken or thought, or to characterize it more finely.
  ## Suggested values include: 1] spoken (spoken); 2] thought (thought); 3] written (written); 4] soCalled (so called); 5] foreign (foreign); 6] distinct (distinct); 7] term; 8] emph (emph); 9] mentioned (mentioned)
  attribute type {
    
    ## (spoken) representation of speech
    "spoken"
    | 
      ## (thought) representation of thought, e.g. internal monologue
      "thought"
    | 
      ## (written) quotation from a written source
      "written"
    | 
      ## (so called) authorial distance
      "soCalled"
    | 
      ## (foreign) 
      "foreign"
    | 
      ## (distinct) linguistically distinct
      "distinct"
    | 
      ## technical term
      "term"
    | 
      ## (emph) rhetorically emphasized
      "emph"
    | 
      ## (mentioned) refering to itself, not its normal referent
      "mentioned"
    | xsd:token { pattern = "[^\p{C}\p{Z}]+" }
  }?,
  empty
quote =
  
  ## (quotation) contains a phrase or passage attributed by the narrator or author to some agency external to the text. [ ]
  element quote { quote.content, quote.localattributes }
quote.content = macro.specialPara
quote.localattributes =
  att.global.attributes,
  att.typed.attributes,
  att.msExcerpt.attributes,
  att.notated.attributes,
  empty
rb =
  
  ## (ruby base) contains the base text annotated by a ruby gloss. []
  element rb { rb.content, rb.localattributes }
rb.content = macro.phraseSeq
rb.localattributes = att.global.attributes, att.typed.attributes, empty
ref =
  
  ## (reference) defines a reference to another location, possibly modified by additional text or comment. [ ]
  element ref { ref.content, ref.localattributes }
ref.content =
  macro.paraContent
  >> sch:pattern [
       id = "ref-refAtts-constraint-report-10"
       "\x{a}" ~
       "         "
       sch:rule [
         context = "tei:ref"
         "\x{a}" ~
         "            "
         sch:report [
           test = "@target and @cRef"
           "Only one of the\x{a}" ~
           "	attributes @target' and @cRef' may be supplied on "
           sch:name [ ]
           "\x{a}" ~
           "            "
         ]
         "\x{a}" ~
         "         "
       ]
       "\x{a}" ~
       "      "
     ]
ref.localattributes =
  att.cReferencing.attributes,
  att.declaring.attributes,
  att.global.attributes,
  att.internetMedia.attributes,
  att.pointing.attributes,
  att.typed.attributes,
  empty
reg =
  
  ## (regularization) contains a reading which has been regularized or normalized in some sense. [ ]
  element reg { reg.content, reg.localattributes }
reg.content = macro.paraContent
reg.localattributes =
  att.global.attributes,
  att.editLike.attributes,
  att.typed.attributes,
  empty
relatedItem =
  
  ## contains or references some other bibliographic item which is related to the present one in some specified manner, for example as a constituent or alternative version of it. []
  element relatedItem {
    relatedItem.content, relatedItem.localattributes
  }
relatedItem.content =
  ((model.biblLike | model.ptrLike)?)
  >> sch:pattern [
       id = "relatedItem-targetorcontent1-constraint-report-11"
       "\x{a}" ~
       "         "
       sch:rule [
         context = "tei:relatedItem"
         "\x{a}" ~
         "            "
         sch:report [
           test = "@target and count( child::* ) > 0"
           "\x{a}" ~
           "If the @target attribute on "
           sch:name [ ]
           " is used, the\x{a}" ~
           "relatedItem element must be empty"
         ]
         "\x{a}" ~
         "            "
         sch:assert [
           test = "@target or child::*"
           "A relatedItem element should have either a 'target' attribute\x{a}" ~
           "        or a child element to indicate the related bibliographic item"
         ]
         "\x{a}" ~
         "         "
       ]
       "\x{a}" ~
       "      "
     ]
relatedItem.localattributes =
  att.global.attributes,
  att.typed.attributes,
  
  ## points to the related bibliographic element by means of an absolute or relative URI reference
  attribute target { xsd:anyURI }?,
  empty
resp =
  
  ## (responsibility) contains a phrase describing the nature of a person's intellectual responsibility, or an organization's role in the production or distribution of a work. [   ]
  element resp { resp.content, resp.localattributes }
resp.content = macro.phraseSeq.limited
resp.localattributes =
  att.global.attributes,
  att.canonical.attributes,
  att.datable.attributes,
  empty
respStmt =
  
  ## (statement of responsibility) supplies a statement of responsibility for the intellectual content of a text, edition, recording, or series, where the specialized elements for authors, editors, etc. do not suffice or do not apply. May also be used to encode information about individuals or organizations which have played a role in the production or distribution of a bibliographic work. [   ]
  element respStmt { respStmt.content, respStmt.localattributes }
respStmt.content =
  ((resp+, model.nameLike.agent+) | (model.nameLike.agent+, resp+)),
  note*
respStmt.localattributes =
  att.global.attributes, att.canonical.attributes, empty
rs =
  
  ## (referencing string) contains a general purpose name or referring string. [ ]
  element rs { rs.content, rs.localattributes }
rs.content = macro.phraseSeq
rs.localattributes =
  att.global.attributes,
  att.naming.attributes,
  att.typed.attributes,
  empty
rt =
  
  ## (ruby text) contains a ruby text, an annotation closely associated with a passage of the main text. []
  element rt { rt.content, rt.localattributes }
rt.content = macro.phraseSeq
rt.localattributes =
  att.global.attributes,
  att.typed.attributes,
  att.placement.attributes,
  att.transcriptional.attributes,
  (
   ## supplies a pointer to the base being glossed by this ruby text.
   attribute target { xsd:anyURI }?)
  >> sch:pattern [
       id = "rt-target-rt-target-not-span-constraint-report-8"
       "\x{a}" ~
       "         "
       sch:rule [
         context = "tei:rt/@target"
         "\x{a}" ~
         "            "
         sch:report [
           test = "../@from | ../@to"
           "When target= is\x{a}" ~
           "            present, neither from= nor to= should be."
         ]
         "\x{a}" ~
         "         "
       ]
       "\x{a}" ~
       "      "
     ],
  (
   ## points to the starting point of the span of text being glossed by this ruby text.
   attribute from { xsd:anyURI }?)
  >> sch:pattern [
       id = "rt-from-rt-from-constraint-assert-10"
       "\x{a}" ~
       "         "
       sch:rule [
         context = "tei:rt/@from"
         "\x{a}" ~
         "            "
         sch:assert [
           test = "../@to"
           "When from= is present, the to=\x{a}" ~
           "            attribute of "
           sch:name [ ]
           " is required."
         ]
         "\x{a}" ~
         "         "
       ]
       "\x{a}" ~
       "      "
     ],
  (
   ## points to the ending point of the span of text being glossed.
   attribute to { xsd:anyURI }?)
  >> sch:pattern [
       id = "rt-to-rt-to-constraint-assert-11"
       "\x{a}" ~
       "         "
       sch:rule [
         context = "tei:rt/@to"
         "\x{a}" ~
         "            "
         sch:assert [
           test = "../@from"
           "When to= is present, the from=\x{a}" ~
           "            attribute of "
           sch:name [ ]
           " is required."
         ]
         "\x{a}" ~
         "         "
       ]
       "\x{a}" ~
       "      "
     ],
  empty
ruby =
  
  ## (ruby container) contains a passage of base text along with its associated ruby gloss(es). []
  element ruby { ruby.content, ruby.localattributes }
ruby.content = rb, rt+
ruby.localattributes =
  att.global.attributes, att.typed.attributes, empty
said =
  
  ## (speech or thought) indicates passages thought or spoken aloud, whether explicitly indicated in the source or not, whether directly or indirectly reported, whether by real people or fictional characters. []
  element said { said.content, said.localattributes }
said.content = macro.specialPara
said.localattributes =
  att.global.attributes,
  att.ascribed.directed.attributes,
  
  ## may be used to indicate whether the quoted matter is regarded as having been vocalized or signed.
  attribute aloud {
    xsd:boolean
    | (
       ##
       "unknown"
       | 
         ##
         "inapplicable")
  }?,
  
  ## may be used to indicate whether the quoted matter is regarded as direct or indirect speech.
  [ a:defaultValue = "true" ]
  attribute direct {
    xsd:boolean
    | (
       ##
       "unknown"
       | 
         ##
         "inapplicable")
  }?,
  empty
series =
  
  ## (series information) contains information about the series in which a book or other bibliographic item has appeared. []
  element series { series.content, series.localattributes }
series.content =
  (text
   | model.gLike
   | title
   | model.ptrLike
   | editor
   | respStmt
   | biblScope
   | idno
   | textLang
   | model.global
   | availability)*
series.localattributes = att.global.attributes, empty
sic =
  
  ## (Latin for thus or so) contains text reproduced although apparently incorrect or inaccurate. []
  element sic { sic.content, sic.localattributes }
sic.content = macro.paraContent
sic.localattributes = att.global.attributes, empty
soCalled =
  
  ## (so called) contains a word or phrase for which the author or narrator indicates a disclaiming of responsibility, for example by the use of scare quotes or italics. []
  element soCalled { soCalled.content, soCalled.localattributes }
soCalled.content = macro.phraseSeq
soCalled.localattributes = att.global.attributes, empty
sp =
  
  ## (speech) contains an individual speech in a performance text, or a passage presented as such in a prose or verse text. [  ]
  element sp { sp.content, sp.localattributes }
sp.content =
  model.global*,
  (speaker, model.global*)?,
  ((lg
    | model.lLike
    | model.pLike
    | model.listLike
    | model.stageLike
    | model.attributable),
   (model.global* | q))+
sp.localattributes =
  att.global.attributes, att.ascribed.directed.attributes, empty
speaker =
  
  ## contains a specialized form of heading or label, giving the name of one or more speakers in a dramatic text or fragment. []
  element speaker { speaker.content, speaker.localattributes }
speaker.content = macro.phraseSeq
speaker.localattributes = att.global.attributes, empty
stage =
  
  ## (stage direction) contains any kind of stage direction within a dramatic text or fragment. [  ]
  element stage { stage.content, stage.localattributes }
stage.content = macro.specialPara
stage.localattributes =
  att.ascribed.directed.attributes,
  att.global.attributes,
  att.placement.attributes,
  
  ## indicates the kind of stage direction.
  ## Suggested values include: 1] setting; 2] entrance; 3] exit; 4] business; 5] novelistic; 6] delivery; 7] modifier; 8] location; 9] mixed
  attribute type {
    list {
      (
       ## describes a setting.
       "setting"
       | 
         ## describes an entrance.
         "entrance"
       | 
         ## describes an exit.
         "exit"
       | 
         ## describes stage business.
         "business"
       | 
         ## is a narrative, motivating stage direction.
         "novelistic"
       | 
         ## describes how a character speaks.
         "delivery"
       | 
         ## gives some detail about a character.
         "modifier"
       | 
         ## describes a location.
         "location"
       | 
         ## more than one of the above
         "mixed"
       | xsd:token { pattern = "[^\p{C}\p{Z}]+" })*
    }
  }?,
  empty
street =
  
  ## contains a full street address including any name or number identifying a building as well as the name of the street or route on which it is located. []
  element street { street.content, street.localattributes }
street.content = macro.phraseSeq
street.localattributes = att.global.attributes, empty
teiCorpus =
  [
    a:documentation [
      "(TEI corpus) contains the whole of a TEI encoded corpus, comprising a single corpus header and one or more "
      ns1:code [ "<TEI>" ]
      " elements, each containing a single text header and a text. [ ]"
    ]
  ]
  element teiCorpus { teiCorpus.content, teiCorpus.localattributes }
teiCorpus.content = teiHeader, model.resource*, model.describedResource+
teiCorpus.localattributes =
  att.global.attributes,
  att.typed.attributes,
  
  ## (version) specifies the version number of the TEI Guidelines against which this document is valid.
  attribute version {
    xsd:token { pattern = "[\d]+(\.[\d]+){0,2}" }
  }?,
  empty
term =
  
  ## (term) contains a single-word, multi-word, or symbolic designation which is regarded as a technical term. []
  element term { term.content, term.localattributes }
term.content = macro.phraseSeq
term.localattributes =
  att.global.attributes,
  att.declaring.attributes,
  att.pointing.attributes,
  att.typed.attributes,
  att.canonical.attributes,
  att.sortable.attributes,
  att.cReferencing.attributes,
  empty
textLang =
  
  ## (text language) describes the languages and writing systems identified within the bibliographic work being described, rather than its description. [ ]
  element textLang { textLang.content, textLang.localattributes }
textLang.content = macro.phraseSeq
textLang.localattributes =
  att.global.attributes,
  
  ## (main language) supplies a code which identifies the chief language used in the bibliographic work.
  attribute mainLang {
    xsd:language
    | (
       ##
       "")
  }?,
  
  ## (other languages) one or more codes identifying any other languages used in the bibliographic work.
  attribute otherLangs {
    list {
      (xsd:language
       | (
          ##
          ""))*
    }
  }?,
  empty
time =
  
  ## (time) contains a phrase defining a time of day in any format. []
  element time { time.content, time.localattributes }
time.content = (text | model.gLike | model.phrase | model.global)*
time.localattributes =
  att.global.attributes,
  att.datable.attributes,
  att.canonical.attributes,
  att.duration.attributes,
  att.editLike.attributes,
  att.dimensions.attributes,
  att.typed.attributes,
  empty
title =
  
  ## (title) contains a title for any kind of work. [  ]
  element title { title.content, title.localattributes }
title.content = macro.paraContent
title.localattributes =
  att.global.attributes,
  att.canonical.attributes,
  att.datable.attributes,
  att.typed.attribute.subtype,
  
  ## classifies the title according to some convenient typology.
  ## Sample values include: 1] main; 2] sub (subordinate); 3] alt (alternate); 4] short; 5] desc (descriptive)
  attribute type {
    xsd:token { pattern = "[^\p{C}\p{Z}]+" }
  }?,
  
  ## indicates the bibliographic level for a title, that is, whether it identifies an article, book, journal, series, or unpublished material.
  attribute level {
    
    ## (analytic) the title applies to an analytic item, such as an article, poem, or other work published as part of a larger item.
    "a"
    | 
      ## (monographic) the title applies to a monograph such as a book or other item considered to be a distinct publication, including single volumes of multi-volume works
      "m"
    | 
      ## (journal) the title applies to any serial or periodical publication such as a journal, magazine, or newspaper
      "j"
    | 
      ## (series) the title applies to a series of otherwise distinct publications such as a collection
      "s"
    | 
      ## (unpublished) the title applies to any unpublished material (including theses and dissertations unless published by a commercial press)
      "u"
  }?,
  empty
unclear =
  
  ## (unclear) contains a word, phrase, or passage which cannot be transcribed with certainty because it is illegible or inaudible in the source. [ ]
  element unclear { unclear.content, unclear.localattributes }
unclear.content = macro.paraContent
unclear.localattributes =
  att.global.attributes,
  att.editLike.attributes,
  att.dimensions.attributes,
  
  ## indicates why the material is hard to transcribe.
  ## Suggested values include: 1] illegible (illegible); 2] inaudible (inaudible); 3] faded (faded); 4] background_noise (background_noise); 5] eccentric_ductus (eccentric_ductus)
  attribute reason {
    list {
      (
       ## (illegible) 
       "illegible"
       | 
         ## (inaudible) 
         "inaudible"
       | 
         ## (faded) 
         "faded"
       | 
         ## (background_noise) 
         "background_noise"
       | 
         ## (eccentric_ductus) indicates illegibility due to an unusual, awkward, or incompetent execution of a glyph or glyphs 
         "eccentric_ductus"
       | xsd:token { pattern = "[^\p{C}\p{Z}]+" })+
    }
  }?,
  
  ## Where the difficulty in transcription arises from damage, categorizes the cause of the damage, if it can be identified.
  ## Sample values include: 1] rubbing; 2] mildew; 3] smoke
  attribute agent {
    xsd:token { pattern = "[^\p{C}\p{Z}]+" }
  }?,
  empty
unit =
  
  ## contains a symbol, a word or a phrase referring to a unit of measurement in any kind of formal or informal system. []
  element unit { unit.content, unit.localattributes }
unit.content = macro.phraseSeq
unit.localattributes =
  att.global.attributes,
  att.typed.attributes,
  att.measurement.attributes,
  empty
# 3. macros
