scripts/oxygen/frameworks/tei/xml/tei/schema/relaxng/linking.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:tei="http://www.tei-c.org/ns/1.0"
         xmlns:teix="http://www.tei-c.org/ns/Examples"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"><!--Schema generated 2021-08-31T10:24:16Z
Edition: Version 4.3.0. Last updated on
        31st August 2021, revision b4f72b1ff
This material is dual-licensed.
[http://creativecommons.org/licenses/by/3.0/] Distributed under a Creative Commons Attribution 3.0 Unported License.  [http://www.opensource.org/licenses/BSD-2-Clause] Copyright 2021 TEI Consortium. All rights reserved. Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage. TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the  TEI
          Consortium . Linking, segmentation, and alignment--><!--Definitions from module linking--><!--Set global predeclared macros--><!--Set predeclared macros--><!--0. predeclared macros--><!--1. classes-->
   <define name="att.global.linking.attributes">
      <ref name="att.global.linking.attribute.corresp"/>
      <ref name="att.global.linking.attribute.synch"/>
      <ref name="att.global.linking.attribute.sameAs"/>
      <ref name="att.global.linking.attribute.copyOf"/>
      <ref name="att.global.linking.attribute.next"/>
      <ref name="att.global.linking.attribute.prev"/>
      <ref name="att.global.linking.attribute.exclude"/>
      <ref name="att.global.linking.attribute.select"/>
   </define>
   <define name="att.global.linking.attribute.corresp">
      <optional>
         <attribute name="corresp">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(corresponds) points to elements that correspond to the current element in some way.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="att.global.linking.attribute.synch">
      <optional>
         <attribute name="synch">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(synchronous) points to elements that are synchronous with the current element.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="att.global.linking.attribute.sameAs">
      <optional>
         <attribute name="sameAs">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to an element that is the same as the current element.</a:documentation>
            <data type="anyURI"/>
         </attribute>
      </optional>
   </define>
   <define name="att.global.linking.attribute.copyOf">
      <optional>
         <attribute name="copyOf">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to an element of which the current element is a copy.</a:documentation>
            <data type="anyURI"/>
         </attribute>
      </optional>
   </define>
   <define name="att.global.linking.attribute.next">
      <optional>
         <attribute name="next">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to the next element of a virtual aggregate of which the current element is part.</a:documentation>
            <data type="anyURI"/>
         </attribute>
      </optional>
   </define>
   <define name="att.global.linking.attribute.prev">
      <optional>
         <attribute name="prev">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(previous) points to the previous element of a virtual aggregate of which the current element is part.</a:documentation>
            <data type="anyURI"/>
         </attribute>
      </optional>
   </define>
   <define name="att.global.linking.attribute.exclude">
      <optional>
         <attribute name="exclude">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to elements that are in exclusive alternation with the current element.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="att.global.linking.attribute.select">
      <optional>
         <attribute name="select">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">selects one or more alternants; if one alternant is selected, the ambiguity or uncertainty is marked as resolved. If more than one alternant is selected, the degree of ambiguity or uncertainty is marked as reduced by the number of alternants not selected.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <!--2. elements-->
   <define name="ab">
      <element name="ab">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(anonymous block) contains any arbitrary component-level unit of text, acting as an anonymous container for phrase or inter level elements analogous to, but without the semantic baggage of, a paragraph. []</a:documentation>
         <ref name="ab.content"/>
         <ref name="ab.localattributes"/>
      </element>
   </define>
   <define name="ab.content">
      <ref name="macro.paraContent"/>
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
               id="ab-abstractModel-structure-ab-constraint-report-24">
         <rule context="tei:ab">
            <report xmlns:rng="http://relaxng.org/ns/structure/1.0"
                    xmlns:xi="http://www.w3.org/2001/XInclude"
                    test="not(ancestor::tei:floatingText) and (ancestor::tei:p or ancestor::tei:ab)          and not(parent::tei:exemplum         |parent::tei:item         |parent::tei:note         |parent::tei:q         |parent::tei:quote         |parent::tei:remarks         |parent::tei:said         |parent::tei:sp         |parent::tei:stage         |parent::tei:cell         |parent::tei:figure)">
        Abstract model violation: ab may not occur inside paragraphs or other ab elements.
      </report>
         </rule>
      </pattern>
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
               id="ab-abstractModel-structure-l-constraint-report-25">
         <rule context="tei:ab">
            <report xmlns:rng="http://relaxng.org/ns/structure/1.0"
                    xmlns:xi="http://www.w3.org/2001/XInclude"
                    test="(ancestor::tei:l or ancestor::tei:lg) and not(parent::tei:figure or parent::tei:note or ancestor::tei:floatingText)">
        Abstract model violation: Lines may not contain higher-level divisions such as p or ab, unless ab is a child of figure or note, or is a descendant of floatingText.
      </report>
         </rule>
      </pattern>
   </define>
   <define name="ab.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.declaring.attributes"/>
      <ref name="att.fragmentable.attributes"/>
      <ref name="att.written.attributes"/>
      <empty/>
   </define>
   <define name="alt">
      <element name="alt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(alternation) identifies an alternation or a set of choices among elements or passages. []</a:documentation>
         <ref name="alt.content"/>
         <ref name="alt.localattributes"/>
      </element>
   </define>
   <define name="alt.content">
      <empty/>
   </define>
   <define name="alt.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.pointing.attribute.targetLang"/>
      <ref name="att.pointing.attribute.evaluate"/>
      <optional>
         <attribute name="target">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the destination of the reference by supplying one or more URI References</a:documentation>
            <list>
               <data type="anyURI"/>
               <data type="anyURI"/>
               <zeroOrMore>
                  <data type="anyURI"/>
               </zeroOrMore>
            </list>
         </attribute>
      </optional>
      <optional>
         <attribute name="mode">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">states whether the alternations gathered in this collection are exclusive or inclusive.</a:documentation>
            <choice>
               <value>excl</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(exclusive) indicates that the alternation is exclusive, i.e. that at most one of the alternatives occurs.</a:documentation>
               <value>incl</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(inclusive) indicates that the alternation is not exclusive, i.e. that one or more of the alternatives occur.</a:documentation>
            </choice>
         </attribute>
      </optional>
      <optional>
         <attribute name="weights">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">If <code xmlns="http://www.w3.org/1999/xhtml">@mode</code> is excl, each weight states the probability that the corresponding alternative occurs. If <code xmlns="http://www.w3.org/1999/xhtml">@mode</code> is incl each weight states the probability that the corresponding alternative occurs given that at least one of the other alternatives occurs.</a:documentation>
            <list>
               <data type="double"/>
               <data type="double"/>
               <zeroOrMore>
                  <data type="double"/>
               </zeroOrMore>
            </list>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="altGrp">
      <element name="altGrp">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(alternation group) groups a collection of <code xmlns="http://www.w3.org/1999/xhtml">&lt;alt&gt;</code> elements and possibly pointers. []</a:documentation>
         <ref name="altGrp.content"/>
         <ref name="altGrp.localattributes"/>
      </element>
   </define>
   <define name="altGrp.content">
      <group>
         <zeroOrMore>
            <ref name="model.descLike"/>
         </zeroOrMore>
         <zeroOrMore>
            <choice>
               <ref name="alt"/>
               <ref name="ptr"/>
            </choice>
         </zeroOrMore>
      </group>
   </define>
   <define name="altGrp.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.pointing.group.attributes"/>
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    name="mode"
                    a:defaultValue="excl">
            <a:documentation>states whether the alternations gathered in this collection are exclusive or inclusive.</a:documentation>
            <choice>
               <value>excl</value>
               <a:documentation>(exclusive) indicates that the alternation is exclusive, i.e. that at most one of the alternatives occurs.</a:documentation>
               <value>incl</value>
               <a:documentation>(inclusive) indicates that the alternation is not exclusive, i.e. that one or more of the alternatives occur.</a:documentation>
            </choice>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="anchor">
      <element name="anchor">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(anchor point) attaches an identifier to a point within a text, whether or not it corresponds with a textual element. [ ]</a:documentation>
         <ref name="anchor.content"/>
         <ref name="anchor.localattributes"/>
      </element>
   </define>
   <define name="anchor.content">
      <empty/>
   </define>
   <define name="anchor.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
   </define>
   <define name="annotation">
      <element name="annotation">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">represents an annotation following the <a xmlns="http://www.w3.org/1999/xhtml" href="#WADM">Web
      Annotation Data Model</a>. []</a:documentation>
         <ref name="annotation.content"/>
         <ref name="annotation.localattributes"/>
      </element>
   </define>
   <define name="annotation.content">
      <group>
         <zeroOrMore>
            <ref name="respStmt"/>
         </zeroOrMore>
         <zeroOrMore>
            <ref name="revisionDesc"/>
         </zeroOrMore>
         <zeroOrMore>
            <ref name="licence"/>
         </zeroOrMore>
         <zeroOrMore>
            <ref name="model.annotationPart.body"/>
         </zeroOrMore>
      </group>
   </define>
   <define name="annotation.localattributes">
      <ref name="att.global.attribute.n"/>
      <ref name="att.global.attribute.xmllang"/>
      <ref name="att.global.attribute.xmlbase"/>
      <ref name="att.global.attribute.xmlspace"/>
      <ref name="att.global.rendition.attribute.rend"/>
      <ref name="att.global.rendition.attribute.style"/>
      <ref name="att.global.rendition.attribute.rendition"/>
      <ref name="att.global.linking.attribute.corresp"/>
      <ref name="att.global.linking.attribute.synch"/>
      <ref name="att.global.linking.attribute.sameAs"/>
      <ref name="att.global.linking.attribute.copyOf"/>
      <ref name="att.global.linking.attribute.next"/>
      <ref name="att.global.linking.attribute.prev"/>
      <ref name="att.global.linking.attribute.exclude"/>
      <ref name="att.global.linking.attribute.select"/>
      <ref name="att.global.analytic.attribute.ana"/>
      <ref name="att.global.facs.attribute.facs"/>
      <ref name="att.global.change.attribute.change"/>
      <ref name="att.global.responsibility.attribute.cert"/>
      <ref name="att.global.responsibility.attribute.resp"/>
      <ref name="att.global.source.attribute.source"/>
      <ref name="att.pointing.attribute.targetLang"/>
      <ref name="att.pointing.attribute.evaluate"/>
      <attribute name="xml:id">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) provides a unique identifier for the element bearing the attribute.</a:documentation>
         <data type="ID"/>
      </attribute>
      <attribute name="target">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the destination of the reference by supplying one or more URI References</a:documentation>
         <list>
            <oneOrMore>
               <data type="anyURI"/>
            </oneOrMore>
         </list>
      </attribute>
      <optional>
         <attribute name="motivation">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <list>
               <oneOrMore>
                  <choice>
                     <value>assessing</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">intent is to assess the target resource in some way, rather than simply make a comment about it</a:documentation>
                     <value>bookmarking</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">intent is to create a bookmark to the target or part thereof</a:documentation>
                     <value>classifying</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">intent is to classify the target in some way</a:documentation>
                     <value>commenting</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">intent is to comment about the target</a:documentation>
                     <value>describing</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">intent is to describe the target, rather than (for example) comment on it</a:documentation>
                     <value>editing</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">intent is to request an edit or a change to the target resource</a:documentation>
                     <value>highlighting</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">intent is to highlight the target resource or a segment thereof</a:documentation>
                     <value>identifying</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">intent is to assign an identity to the target</a:documentation>
                     <value>linking</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">intent is to link to a resource related to the target</a:documentation>
                     <value>moderating</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">intent is to assign some value or quality to the target</a:documentation>
                     <value>questioning</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">intent is to ask a question about the target</a:documentation>
                     <value>replying</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">intent is to reply to a previous statement, either an annotation or another resource</a:documentation>
                     <value>tagging</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">intent is to associate a tag with the target</a:documentation>
                  </choice>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="join">
      <element name="join">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(join) identifies a possibly fragmented segment of text, by pointing at the possibly discontiguous elements which compose it. []</a:documentation>
         <ref name="join.content"/>
         <ref name="join.localattributes"/>
      </element>
   </define>
   <define name="join.content">
      <zeroOrMore>
         <choice>
            <ref name="model.descLike"/>
            <ref name="model.certLike"/>
         </choice>
      </zeroOrMore>
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
               id="join-joinTargets3-constraint-assert-30">
         <rule context="tei:join">
            <assert xmlns:rng="http://relaxng.org/ns/structure/1.0"
                    xmlns:xi="http://www.w3.org/2001/XInclude"
                    test="contains(@target,' ')">
You must supply at least two values for @target on <name/>
            </assert>
         </rule>
      </pattern>
   </define>
   <define name="join.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.pointing.attributes"/>
      <ref name="att.typed.attributes"/>
      <optional>
         <attribute name="result">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the name of an element which this aggregation may be understood to represent.</a:documentation>
            <data type="Name"/>
         </attribute>
      </optional>
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    name="scope"
                    a:defaultValue="root">
            <a:documentation>indicates whether the targets to be joined include the entire element indicated (the entire subtree including its root), or just the children of the target (the branches of the subtree).</a:documentation>
            <choice>
               <value>root</value>
               <a:documentation>the rooted subtrees indicated by the <code xmlns="http://www.w3.org/1999/xhtml">@target</code> attribute are joined, each subtree become a child of the virtual element created by the join</a:documentation>
               <value>branches</value>
               <a:documentation>the children of the subtrees indicated by the <code xmlns="http://www.w3.org/1999/xhtml">@target</code> attribute become the children of the virtual element (i.e. the roots of the subtrees are discarded)</a:documentation>
            </choice>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="joinGrp">
      <element name="joinGrp">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(join group) groups a collection of <code xmlns="http://www.w3.org/1999/xhtml">&lt;join&gt;</code> elements and possibly pointers. []</a:documentation>
         <ref name="joinGrp.content"/>
         <ref name="joinGrp.localattributes"/>
      </element>
   </define>
   <define name="joinGrp.content">
      <group>
         <zeroOrMore>
            <choice>
               <ref name="equiv"/>
               <ref name="gloss"/>
               <ref name="model.descLike"/>
            </choice>
         </zeroOrMore>
         <oneOrMore>
            <choice>
               <ref name="join"/>
               <ref name="ptr"/>
            </choice>
         </oneOrMore>
      </group>
   </define>
   <define name="joinGrp.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.pointing.group.attributes"/>
      <optional>
         <attribute name="result">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies the default value for the <code xmlns="http://www.w3.org/1999/xhtml">@result</code> on each <code xmlns="http://www.w3.org/1999/xhtml">&lt;join&gt;</code> included within the group.</a:documentation>
            <data type="Name"/>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="link">
      <element name="link">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(link) defines an association or hypertextual link among elements or passages, of some type not more precisely specifiable by other elements. []</a:documentation>
         <ref name="link.content"/>
         <ref name="link.localattributes"/>
      </element>
   </define>
   <define name="link.content">
      <empty/>
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
               id="link-linkTargets3-constraint-assert-29">
         <rule context="tei:link">
            <sch:assert xmlns="http://www.tei-c.org/ns/1.0"
                        xmlns:rng="http://relaxng.org/ns/structure/1.0"
                        xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                        xmlns:xi="http://www.w3.org/2001/XInclude"
                        test="contains(normalize-space(@target),' ')">You must supply at least two values for @target or  on <sch:name/>
            </sch:assert>
         </rule>
      </pattern>
   </define>
   <define name="link.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.pointing.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
   </define>
   <define name="linkGrp">
      <element name="linkGrp">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(link group) defines a collection of associations or hypertextual links. []</a:documentation>
         <ref name="linkGrp.content"/>
         <ref name="linkGrp.localattributes"/>
      </element>
   </define>
   <define name="linkGrp.content">
      <group>
         <zeroOrMore>
            <ref name="model.descLike"/>
         </zeroOrMore>
         <oneOrMore>
            <choice>
               <ref name="link"/>
               <ref name="ptr"/>
            </choice>
         </oneOrMore>
      </group>
   </define>
   <define name="linkGrp.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.pointing.group.attributes"/>
      <empty/>
   </define>
   <define name="listAnnotation">
      <element name="listAnnotation">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a list of annotations, typically encoded as <code xmlns="http://www.w3.org/1999/xhtml">&lt;annotation&gt;</code>, <code xmlns="http://www.w3.org/1999/xhtml">&lt;annotationBlock&gt;</code>, or <code xmlns="http://www.w3.org/1999/xhtml">&lt;note&gt;</code>, possibly organized with nested <code xmlns="http://www.w3.org/1999/xhtml">&lt;listAnnotation&gt;</code> elements. []</a:documentation>
         <ref name="listAnnotation.content"/>
         <ref name="listAnnotation.localattributes"/>
      </element>
   </define>
   <define name="listAnnotation.content">
      <group>
         <zeroOrMore>
            <ref name="model.headLike"/>
         </zeroOrMore>
         <zeroOrMore>
            <ref name="model.labelLike"/>
         </zeroOrMore>
         <oneOrMore>
            <choice>
               <ref name="model.annotationLike"/>
               <ref name="listAnnotation"/>
            </choice>
         </oneOrMore>
      </group>
   </define>
   <define name="listAnnotation.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.notated.attributes"/>
      <ref name="att.declaring.attributes"/>
      <empty/>
   </define>
   <define name="seg">
      <element name="seg">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(arbitrary segment) represents any segmentation of text below the chunk level. [  ]</a:documentation>
         <ref name="seg.content"/>
         <ref name="seg.localattributes"/>
      </element>
   </define>
   <define name="seg.content">
      <ref name="macro.paraContent"/>
   </define>
   <define name="seg.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.segLike.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.written.attributes"/>
      <ref name="att.notated.attributes"/>
      <empty/>
   </define>
   <define name="standOff">
      <element name="standOff">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Functions as a container element for linked data, contextual information, and stand-off annotations embedded in a TEI document. []</a:documentation>
         <ref name="standOff.content"/>
         <ref name="standOff.localattributes"/>
      </element>
   </define>
   <define name="standOff.content">
      <oneOrMore>
         <ref name="model.standOffPart"/>
      </oneOrMore>
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
               id="standOff-nested_standOff_should_be_typed-constraint-assert-31">
         <rule context="tei:standOff">
            <sch:assert xmlns="http://www.tei-c.org/ns/1.0"
                        xmlns:rng="http://relaxng.org/ns/structure/1.0"
                        xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                        xmlns:xi="http://www.w3.org/2001/XInclude"
                        test="@type or not(ancestor::tei:standOff)">This
      <sch:name/> element must have a @type attribute, since it is
      nested inside a <sch:name/>
            </sch:assert>
         </rule>
      </pattern>
   </define>
   <define name="standOff.localattributes">
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.declaring.attributes"/>
      <empty/>
   </define>
   <define name="timeline">
      <element name="timeline">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(timeline) provides a set of ordered points in time which can be linked to elements of a spoken text to create a temporal alignment of that text. []</a:documentation>
         <ref name="timeline.content"/>
         <ref name="timeline.localattributes"/>
      </element>
   </define>
   <define name="timeline.content">
      <oneOrMore>
         <ref name="when"/>
      </oneOrMore>
   </define>
   <define name="timeline.localattributes">
      <ref name="att.global.attributes"/>
      <optional>
         <attribute name="origin">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">designates the origin of the timeline, i.e. the time at which it begins.</a:documentation>
            <data type="anyURI"/>
         </attribute>
      </optional>
      <optional>
         <attribute name="unit">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the unit of time corresponding to the <code xmlns="http://www.w3.org/1999/xhtml">@interval</code> value of the timeline or of its constituent points in time.
Suggested values include: 1] d (days); 2] h (hours); 3] min (minutes); 4] s (seconds); 5] ms (milliseconds)</a:documentation>
            <choice>
               <value>d</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(days) </a:documentation>
               <value>h</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(hours) </a:documentation>
               <value>min</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(minutes) </a:documentation>
               <value>s</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(seconds) </a:documentation>
               <value>ms</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(milliseconds) </a:documentation>
               <data type="token">
                  <param name="pattern">[^\p{C}\p{Z}]+</param>
               </data>
            </choice>
         </attribute>
      </optional>
      <optional>
         <attribute name="interval">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies a time interval either as a positive integral value or using one of a set of predefined codes.</a:documentation>
            <choice>
               <data type="float"/>
               <choice>
                  <value>regular</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>irregular</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>unknown</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               </choice>
            </choice>
         </attribute>
      </optional>
      <empty/>
   </define>
   <define name="when">
      <element name="when">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates a point in time either relative to other elements in the same timeline tag, or absolutely. []</a:documentation>
         <ref name="when.content"/>
         <ref name="when.localattributes"/>
      </element>
   </define>
   <define name="when.content">
      <empty/>
   </define>
   <define name="when.localattributes">
      <ref name="att.global.attributes"/>
      <optional>
         <attribute name="absolute">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies an absolute value for the time.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
      <optional>
         <attribute name="unit">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the unit of time in which the <code xmlns="http://www.w3.org/1999/xhtml">@interval</code> value is expressed, if this is not inherited from the parent <code xmlns="http://www.w3.org/1999/xhtml">&lt;timeline&gt;</code>.
Suggested values include: 1] d (days); 2] h (hours); 3] min (minutes); 4] s (seconds); 5] ms (milliseconds)</a:documentation>
            <choice>
               <value>d</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(days) </a:documentation>
               <value>h</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(hours) </a:documentation>
               <value>min</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(minutes) </a:documentation>
               <value>s</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(seconds) </a:documentation>
               <value>ms</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(milliseconds) </a:documentation>
               <data type="token">
                  <param name="pattern">[^\p{C}\p{Z}]+</param>
               </data>
            </choice>
         </attribute>
      </optional>
      <optional>
         <attribute name="interval">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies a time interval either as a number or as one of the keywords defined by the datatype teidata.interval</a:documentation>
            <choice>
               <data type="float"/>
               <choice>
                  <value>regular</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>irregular</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>unknown</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               </choice>
            </choice>
         </attribute>
      </optional>
      <optional>
         <attribute name="since">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the reference point for determining the time of the current <code xmlns="http://www.w3.org/1999/xhtml">&lt;when&gt;</code> element, which is obtained by adding the interval to the time of the reference point.</a:documentation>
            <data type="anyURI"/>
         </attribute>
      </optional>
      <empty/>
   </define>
   <!--3. macros-->
</grammar>
